

.event-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 400px;
}

.event-form input,
.event-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.event-form button {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #3182ce;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.event-form button:hover {
    background-color: #245da8;
}


select {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 15px;
  }
  
  select:focus {
    outline: none;
    border-color: #3182ce; 
  }
  
  option {
    font-size: 16px;
  }
 
.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .checkbox-label {
    font-size: 16px;
    margin-left: 10px;
  }
  
  .checkbox-input {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  
  .checkbox-input:checked {
    background-color: #3182ce; 
    border-color: #3182ce; 
  }

