
  .login-page {
    background-image: url('../slike/loginslika.jpg'); /* Promenite putanju do vaše slike */
    background-size: cover;
    background-position: center;
    height: 100vh; /* Visina ekranu */
    display: flex;
    justify-content: center;
    align-items: center;
  }