.navbar {
  background-color: #f8d7da;
  overflow: hidden;
  padding: 10px;
  position: sticky; 
  top: 0; 
  z-index: 1000; 
}

  .navbar a {
    color: #dc3545;
    padding: 14px 20px;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
  }
  
  .navbar a:hover {
    background-color: #dc3545;
    color:#f8d7da;
    text-decoration: none;
    border-radius:20px;
  }